body{
    background: rgb(80, 183, 187);
    font: bold 15pt Arial;
}

header{
    color: rgb(0, 82, 75);
    text-align: center;

}
section{
    background: rgb(0, 122, 122);
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 10px;
    padding: 15px;
    width: 380px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.24);

}

footer{
    color: rgb(0, 102, 85);
    text-align: center;
    font: italic 13pt Arial;

}